image:
  repository: board-app
  tag: latest
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

database:
  url: jdbc:h2:mem:boarddb
  username: sa
  password: ""

service:
  nodePort: 30080 