body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 960px;
}

.table {
    margin-top: 1rem;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-group {
    margin-top: 1rem;
} 