<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
<h1>상품 목록</h1>

<!-- 상품 추가 & 카테고리 관리 버튼 -->
<a href="/products/new"><button>새 상품 추가</button></a>
<a href="/categories"><button>카테고리 관리</button></a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>카테고리</th>
        <th>가격</th>
        <th>재고</th>
        <th>입출고</th>
    </tr>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.category != null ? p.category.name : '없음'}"></td>
        <td th:text="${p.price}"></td>
        <td> <a th:href="@{/products/{id}/history(id=${p.id})}" th:text="${p.stock_quantity}"></a> </td>
        <td>
            <a th:href="@{/stock/form/{id}(id=${p.id})}">등록</a>
        </td>
    </tr>
</table>

</body>
</html>
